@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@2.1.6/dist/loadingoverlay.min.js"></script>
</head>

<body>
    <div class="container" style="background-color: lightyellow">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h2>Big Visitor Management</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label>กรุณากรอกเลขใบผ่าน (ไม่ใส่เลขเพื่อค้นหาการ เข้า-ออก ล่าสุด)</label>
                <br>
                <input type="number" class="form-control" id="txtNo" onkeydown="SetEmptyData()">
                <br>
                <button class="btn btn-primary" onclick="GetVisitorData()">ค้นหา</button>

            </div>
            <div class="col-md-10">
                <hr>
                <label>ข้อมูล</label>
                <input class="form-control" type="text" id="txtInfo" readonly>
                <hr>
            </div>
            <div class="col-md-2">
                <hr>
                <label>ประเภท</label>
                <input class="form-control" type="text" id="txtType" readonly>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="background-color: bisque">
                <hr>
                <div>
                    <label for="files" class="btn btn-info" id="btnFiles1">ถ่ายรููปใบผ่าน 1</label>
                    <input id="files" style="visibility:hidden;" name="photo[]" type="file">
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Antu_folder-camera.svg/512px-Antu_folder-camera.svg.png"
                     alt="" class="img-fluid" style="cursor: pointer;max-height: 350px" id="img1">
                <script>
                    $("#files").change(function () {
                        readURL(this, 1);
                    });
                </script>
                <hr>
            </div>
            <div class="col-md-4" style="background-color:burlywood">
                <hr>
                <label for="files2" class="btn btn-info" id="btnFiles2">ถ่ายรููปใบผ่าน 2</label>
                <input id="files2" style="visibility:hidden;" name="photo[]" type="file">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Antu_folder-camera.svg/512px-Antu_folder-camera.svg.png"
                     alt="" class="img-fluid" style="cursor: pointer;max-height: 350px" id="img2">
                <script>
                    $("#files2").change(function () {
                        readURL(this, 2);
                    });
                </script>
                <hr>
            </div>
            <div class="col-md-4" style="background-color: bisque">
                <hr>
                <label for="files3" class="btn btn-info" id="btnFiles3">ถ่ายรููปใบผ่าน 3</label>
                <input id="files3" style="visibility:hidden;" name="photo[]" type="file">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Antu_folder-camera.svg/512px-Antu_folder-camera.svg.png"
                     alt="" class="img-fluid" style="cursor: pointer;max-height: 350px" id="img3">
                <script>
                    $("#files3").change(function () {
                        readURL(this, 3);
                    });
                </script>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <hr>
                <button class="btn btn-primary" onclick="Upload()" id="btnSave">บันทึก</button>
                
                <hr>
            </div>
        </div>
    </div>
    <script>

        $(document).ready(function () {
            SetEmptyData()
            GetVisitorDataOnload();
        });

        var default_img_src = "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Antu_folder-camera.svg/512px-Antu_folder-camera.svg.png"

        var vistor_data = {
            no: 0,
            auto_id: 0,
            photo_ref_1: null,
            photo_ref_2: null,
            photo_ref_3: null,

        }

        function SetEmptyData() {

            vistor_data.no = 0;
            vistor_data.auto_id = 0;
            vistor_data.photo_ref_1 = null;
            vistor_data.photo_ref_2 = null;
            vistor_data.photo_ref_3 = null;
            let text = null
            document.getElementById("txtInfo").value = "";
            document.getElementById("txtType").value = "";
            $("#btnFiles1").hide();
            $("#btnFiles2").hide();
            $("#btnFiles3").hide();

            $("#btnSave").hide();

            $("#img1").prop("src", default_img_src);
            $("#img2").prop("src", default_img_src);
            $("#img3").prop("src", default_img_src);
        }

        function SetVisitorData(no, auto_id) {

            vistor_data.no = no;
            vistor_data.auto_id = auto_id;

            $("#btnFiles1").show();
            $("#btnFiles2").show();
            $("#btnFiles3").show();

            $("#img1").prop("src", default_img_src);
            $("#img2").prop("src", default_img_src);
            $("#img3").prop("src", default_img_src);

            $("#btnSave").show();

        }

        function readURL(input, imgId) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if (imgId == 1) {
                        document.getElementById("img1").src = e.target.result;
                        vistor_data.photo_ref_1 = e.target.result;
                    }
                    else if (imgId == 2) {
                        document.getElementById("img2").src = e.target.result;
                        vistor_data.photo_ref_2 = e.target.result;
                    }
                    else if (imgId == 3) {
                        document.getElementById("img3").src = e.target.result;
                        vistor_data.photo_ref_3 = e.target.result;
                    }

                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        function GetVisitorData() {
          
            if ($('#txtNo').val() == null || $('#txtNo').val() == 0) {
                GetVisitorDataOnload();
            }
            else {
                $.LoadingOverlay("show");

                $.ajax({
                    url: '/api/GetVisitorData',
                    type: 'GET',
                    data: {
                        "no": $('#txtNo').val()
                    },
                    success: function (response) {
                        console.log(response)
                        if (response.Status) {
                            var name = "ชื่อ-นามสกุล:" + response.ResultObj.FIRST_NAME + " " + response.ResultObj.LAST_NAME
                            var id_card = "หมายเลขบัตร:" + response.ResultObj.ID_CARD;
                            var license_plate = "ทะเบียนรถ:" + response.ResultObj.LICENSE_PLATE
                            var info = name + " " + id_card + " " + license_plate;
                            if (response.ResultObj.TYPE == "IN" || response.ResultObj.TYPE == "Appointment") {
                                $('#txtType').val("เข้า")
                            }
                            else {
                                $('#txtType').val("ออก")
                            }

                            $('#txtInfo').val(info)
                            $('#txtNo').val(response.ResultObj.NO)
                            let no = response.ResultObj.NO;
                            let auto_id = response.ResultObj.AUTO_ID;

                            SetVisitorData(no, auto_id)
                            $.LoadingOverlay("hide");
                        }
                        else {
                            alert(response.Message)
                            SetEmptyData();
                            $('#txtInfo').val("")
                            $.LoadingOverlay("hide");
                        }
                    },
                    error: function () {
                        alert("ไม่สามารถค้นหาข้อมูลได้");
                        SetEmptyData();
                        $.LoadingOverlay("hide");
                    }
                });
            }
        }

        function GetVisitorDataOnload() {
            $.LoadingOverlay("show");
            $.ajax({
                url: '/api/GetLastVisitorTransaction_Api',
                type: 'GET',
                data: {

                },
                success: function (response) {
                    console.log(response)
                    if (response.Status) {
                        var name = "ชื่อ-นามสกุล:" + response.ResultObj.FIRST_NAME + " " + response.ResultObj.LAST_NAME
                        var id_card = "หมายเลขบัตร:" + response.ResultObj.ID_CARD;
                        var license_plate = "ทะเบียนรถ:" + response.ResultObj.LICENSE_PLATE
                        var info = name + " " + id_card + " " + license_plate;
                        if (response.ResultObj.TYPE == "IN" || response.ResultObj.TYPE == "Appointment") {
                            $('#txtType').val("เข้า")
                        }
                        else {
                            $('#txtType').val("ออก")
                        }

                        $('#txtInfo').val(info)
                        $('#txtNo').val(response.ResultObj.NO)
                        let no = response.ResultObj.NO;
                        let auto_id = response.ResultObj.AUTO_ID;

                        SetVisitorData(no, auto_id)
                        $.LoadingOverlay("hide");
                    }
                    else {

                        SetEmptyData();
                        $.LoadingOverlay("hide");

                    }
                },
                error: function () {

                    SetEmptyData();
                    $.LoadingOverlay("hide");
                }
            });
        }

        function Upload() {

            $.LoadingOverlay("show");

            let fileData = new FormData();
            if (vistor_data.no > 0 && vistor_data.auto_id > 0) {
                fileData.append('NO', vistor_data.no);
                fileData.append('AUTO_ID', vistor_data.auto_id);
            }


            $.ajax({
                type: "POST",
                url: "/api/UpdateVisitorOut",
                dataType: "json",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (result, status, xhr) {

                    if (result.Status) {

                        if (vistor_data.photo_ref_1 != null) {
                            let fileData = new FormData();
                            let photo_ref_1 = $('#files').prop('files');
                            fileData.append("FILE#1", photo_ref_1[0]);
                            fileData.append('NO', vistor_data.no);
                            fileData.append('AUTO_ID', vistor_data.auto_id);
                            $.ajax({
                                type: "POST",
                                url: "/api/UpdateVisitorImgRef_Api",
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                data: fileData,
                                success: function (result, status, xhr) {
                                    if (result.Status) {
                                        //alert("บันทึกภาพที่ 1 สำเร็จ")
                                    }
                                    else {
                                        alert("บันทึกภาพที่ 1 ไม่สำเร็จ")
                                    }
                                }
                            })
                        }

                        if (vistor_data.photo_ref_2 != null) {
                            let fileData = new FormData();
                            let photo_ref_2 = $('#files2').prop('files');
                            fileData.append("FILE#2", photo_ref_2[0]);
                            fileData.append('NO', vistor_data.no);
                            fileData.append('AUTO_ID', vistor_data.auto_id);
                            $.ajax({
                                type: "POST",
                                url: "/api/UpdateVisitorImgRef_Api",
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                data: fileData,
                                success: function (result, status, xhr) {
                                    if (result.Status) {
                                        //alert("บันทึกภาพที่ 2 สำเร็จ")
                                    }
                                    else {
                                        alert("บันทึกภาพที่ 2 ไม่สำเร็จ")
                                    }
                                }
                            })
                        }

                        if (vistor_data.photo_ref_3 != null) {
                            let fileData = new FormData();
                            let photo_ref_3 = $('#files3').prop('files');
                            fileData.append("FILE#3", photo_ref_3[0]);
                            fileData.append('NO', vistor_data.no);
                            fileData.append('AUTO_ID', vistor_data.auto_id);
                            $.ajax({
                                type: "POST",
                                url: "/api/UpdateVisitorImgRef_Api",
                                dataType: "json",
                                contentType: false,
                                processData: false,
                                data: fileData,
                                success: function (result, status, xhr) {
                                    if (result.Status) {
                                        //alert("บันทึกภาพที่ 3 สำเร็จ")
                                    }
                                    else {
                                        alert("บันทึกภาพที่ 3 ไม่สำเร็จ")
                                    }
                                }
                            })
                        }

                        alert("บันทึกข้อมูลสำเร็จ");
                        $.LoadingOverlay("hide");
                    }
                    else {
                        alert(result.Message)
                        $.LoadingOverlay("hide");
                    }

                    SetEmptyData();

                },
                error: function (xhr, status, error) {
                    alert(error);
                    SetEmptyData();
                    $.LoadingOverlay("hide");
                }
            });
        }
    </script>
</body>

</html>